#waveform {
	width: 100%;
	max-width: 100%;
}

.controls {
	margin-top: 10px;
}

.controls button {
	margin: 1px;
	border: 1px solid #ccc !important;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.controls button:hover {
	background-color: #dddddd;
}

.audio-info {
	margin-top: 15px;
	/* color: #fff; */
	border-radius: 4px;
	padding: 8px 15px;
	display: inline-block;
	font-size: 12px;
}
