@import '../../sass/colors.scss';

.pricing-section {
  text-align: center;
  max-width: 1000px;
  margin: 150px auto 100px;

  h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
  }
}

.container {
  text-align: center;
}

.pricingtable-inner {
  text-align: center;
}

.pricingtable-features {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pricingtable-features li {
  padding: 12px;
}

.pricingtable-features li i {
  margin: 0 3px;
}

.no-col-gap .pricingtable-wrapper {
  margin-left: -1px;
}

.table-option {
  border: 2px solid #adadad;
  border-radius: 6px;
  padding: 50px 0px 30px 0;
}

.table-option .pricingtable-footer {
  border: 0;
  background-color: transparent;
}

.table-option .pricingtable-features {
  border: 0;
  background-color: transparent;
}

.table-option .pricingtable-features li {
  border: 0;
  background-color: transparent;
  color: #919191;
  font-size: 18px;
}

.table-option .pricingtable-title {
  border: 0;
  background-color: transparent;
  
  padding: 0;
}

.table-option .pricingtable-title * {
  color: $color-black;
}

.table-option .pricingtable-title h2 {
  font-size: 28px;
  line-height: 36px;
}

.table-option .pricingtable-price {
  padding: 0;
  border: 0;
  background-color: transparent;
}

.table-option .pricingtable-bx {
  color: $color-black;
  font-size: 63px;
  font-weight: 800;
}

.table-option .pricingtable-bx strong,
.table-option .pricingtable-bx sup {
  font-size: 30px;
  font-weight: 700;
}

.table-option:hover, .table-option.active {
  background-color: #eeeeee;
  border: 2px solid #eeeeee;
}

.table-option.dark {
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

.table-option.dark:hover, .table-option.dark.active {
  background-color: $color-black;
  border: 2px solid $color-black;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.5s; 
}

.table-option.dark:hover .pricingtable-features li,
.table-option.dark:hover .pricingtable-title h2,
.table-option.dark:hover .pricingtable-price .pricingtable-bx, .table-option.dark.active .pricingtable-features li,
.table-option.dark.active .pricingtable-title h2,
.table-option.dark.active .pricingtable-price .pricingtable-bx {
  color: #fff;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

.table-option.dark:hover .pricingtable-footer .btn.black, .table-option.dark.active .pricingtable-footer .btn.black {
  background-color: #fff;
  border-color: rgba(0, 0, 0, 0);
  color: #000;
}

.pricingtable-toggle {
  display: flex;
  margin: auto;
  justify-content: center;
  padding: 0;
  margin-bottom: 10px;
}

.pricingtable-toggle span {
  font-size: 18px;
  margin-top: 5px;
  font-weight: 500;
}

.pricingtable-toggle .custom-control-label {
  margin: 0 35px 0 50px;
}

.pricingtable-wrapper {
  box-shadow: 0px 0 10px rgba(31, 66, 135, 0.3);
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.5s;
  background-color: #ffffff;
}

.pricingtable-wrapper.style-1 {
  padding: 50px 30px;
  width: 100
}

.pricingtable-wrapper.style-1 .pricingtable-bx {
  color: $color-black;
  margin: 0;
  transition: all 0.5s;
}

.pricingtable-wrapper.style-1 .pricingtable-features {
  padding: 15px 0;
}

.pricingtable-wrapper.style-1 .pricingtable-features li {
  padding: 8px 0;
  font-weight: 500;
}

.pricingtable-wrapper.style-1 .btn {
  transition: all 0.5s;
}

.pricingtable-wrapper.style-1:hover, .pricingtable-wrapper.style-1.active {
  // background: linear-gradient(1200deg, rgb(55, 68, 255), rgba(255, 158, 158, 0.445));
  background: linear-gradient(120deg, $color-black, $color-white);
  background-size: 200%;
}

.pricingtable-wrapper.style-1:hover .pricingtable-features li, .pricingtable-wrapper.style-1.active .pricingtable-features li {
  color: #fff;
}

.pricingtable-wrapper.style-1:hover .pricingtable-bx, .pricingtable-wrapper.style-1.active .pricingtable-bx {
  color: #fff;
}

.pricingtable-wrapper.style-1:hover .pricingtable-title h3, .pricingtable-wrapper.style-1.active .pricingtable-title h3 {
  color: #fff;
}

// .pricingtable-wrapper.style-1:hover .btn, .pricingtable-wrapper.style-1.active .btn {
//   color: $color-black;
// }

// .pricingtable-wrapper.style-1:hover .btn i, .pricingtable-wrapper.style-1.active .btn i {
//   color: $color-white;
//   background-color: #fff
// }

.start-btn {
  background: $color-white;
  color: $color-black;
  padding: 14px 20px;
  text-decoration: none;
  border-radius: 10px;
  transition: .3s;
  // border: 1px solid transparent;
  border: 1px solid $color-black;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);

  &:hover {
    background: $color-black;
    color: $color-white;
    border: 1px solid $color-black;
  }
}

