.transcribe {
    margin: 150px auto 100px;
    text-align: center;
    max-width: 650px;
    h2 {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 10px;
    }
}

.toggle-button-group {
    font-weight: 700;
}

@media (max-width: 575px){
    .page-title {
        margin: 100px auto 50px;
    
        h2 {
            font-size: 20px;
        }
    }
}
