@import '../../sass/colors.scss';

.appointment-btn {
    background: $color-white;
    color: $color-black;
    padding: 14px 20px;
    text-decoration: none;
    border-radius: 10px;
    transition: .3s;
    // border: 1px solid transparent;
    border: 1px solid $color-black;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);

    &:hover {
        background: $color-black;
        color: $color-white;
        border: 1px solid $color-black;
    }
}

.text-right {
    text-align: right;
}

.form-group {
    margin-bottom: 20px;
    
    label {
        text-transform: uppercase;
        color: #1819458a;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .form-control {
        height: 50px;
        border-radius: 14px;
    }

    textarea {
        height: 150px !important;
    }
}