@import './../../sass/fonts.scss';
@import './../../sass/colors.scss';

.main-nav {
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: $color-white;
    // background-color: rgb(233, 250, 255);

    .user-icon-button {
        background: $color-white;
        color: $color-black;
        padding: 14px 20px;
        text-decoration: none;
        border-radius: 10px;
        transition: .3s;
        // border: 1px solid transparent;
        border: 1px solid $color-black;
        font-size: 14px;
        font-weight: 500;
        display: inline-block;
        box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);

        &:hover {
            background: $color-black;
            color: $color-white;
            border: 1px solid $color-black;
        }
    }

    // .theme-btn {
    //     display: block;
    //     width: 100%;
    //     box-sizing: border-box;
    //     margin: 0;
    //     padding: 8px 16px;
    //     text-align: left;
    //     border: none;
    //     cursor: pointer;
    //     background-color: #fff;
    //     color: #333;
    //     border-radius: 4px;
    //     transition: background-color 0.3s ease;
    // }
      
    .theme-btn:hover {
        background-color: #e9e9e9;
    }
      
    .theme-btn.logout-btn {
        margin-top: 4px;
    }

    .navbar {
        padding: 0;
        
        .navbar-brand {
            img {
                max-width: 150px;
            }
        }
        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: $color-black;
                    font-size: 15px;
                    font-weight: 600;
                    padding: 0;
                    margin: 10px 30px;

                    &:hover {
                        color: $color-blue;
                    }
                }
            }
        }
    }

    .navbar-account-logged-in {
        position: relative;
    }
      
    .account-dropdown {
        width: 150px;
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 1000;
        
        background: white;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 10px;
        box-shadow: 0 8px 16px rgba(0,0,0,0.15);
        box-sizing: border-box;
    }
      
    .account-dropdown .theme-btn {
        display: block;
        color: #333;
        padding: 10px 20px;
        text-align: left;
        background-color: transparent;
        border: none;
        width: 100%;
        box-sizing: border-box;
        transition: background-color 0.3s;
    }
      
    .account-dropdown .theme-btn:hover {
        background-color: #f0f0f0;
    }
}

// Mobile Responsive
@media (max-width: 575px) {
    .main-nav {
        padding: 10px 0;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

        .navbar {
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        margin: 10px 0px;
                    }
                }
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .main-nav {
        padding: 10px 0;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

        .navbar {
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        margin: 10px 0px;
                    }
                }
            }
        }
    }
}

// Medium Devices Responsive
@media (min-width: 768px) and (max-width: 991px) {
    .main-nav {
        padding: 15px 0;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

        .navbar {
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        margin: 10px 0px;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .main-nav {
        padding: 20px 0;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

        .navbar {
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        margin: 10px 15px;
                    }
                }
            }
        }
    }
}