@import '../../../sass/colors.scss';

.uploader {
    margin-top: 40px;
}

.delete-button button:hover {
	color: $color-black;
}

.uploaded-row {
    /* margin: 10px 0; */
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #e9f0ff;
    margin-top: 20px;
    text-align: relative;
    /* display: inline-block; */
}

.uploaded-content {
    display: flex;
    align-items: center;
}

.main-property {
    display: inline-block;
}

.upload-box{
    width: auto;
    height: auto;
    align-items: center;
}

.transcription {
    background-color: rgb(233, 250, 255);
}

.transcribe-section {
    text-align: center;
    max-width: 650px;
    margin: 150px auto 100px;
    h2 {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    
}

.text-body {
    // background-color: rgba(198, 198, 255, 0.445);
    white-space: pre-wrap;
    max-width: 700px;
    box-shadow: 15px 15px 10px rgb(233, 250, 255);
    padding: 5px 5px 5px 5px;
}

.appointment-btn {
    margin-top: 20px;
    margin-bottom: 20px;
    background: $color-white;
    color: $color-black;
    padding: 14px 20px;
    text-decoration: none;
    border-radius: 10px;
    transition: .3s;
    // border: 1px solid transparent;
    border: 1px solid $color-black;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);

    &:hover {
        background: $color-black;
        color: $color-white;
        border: 1px solid $color-black;
    }
}