@import './../../sass/fonts.scss';
@import './../../sass/colors.scss';
// *,
// *::before,
// *::after {
//   margin: 0;
//   padding: 0;
//   box-sizing: inherit;
// }

// a {
//   text-decoration: none;
// }

// h1 {
//   font-family: "Pacifico", cursive;
//   font-size: 40px;
// }

#wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2rem;
    color: $color-gray;
}

.container {
    width: 100%;
    max-width: 93.5rem;
    margin: 3rem auto 0;

    a {
        text-decoration: none;
    }

    h1 {
        // font-family: 'Pacifico', cursive;
        font-size: 40px;
    }
}

#wrapper > .container {
    display: flex;
    padding: 0 8rem;
}

.form-data {
    width: 100%;
    max-width: 35rem;
    margin-top: 3rem;
}

.form-data form {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
    text-align: center;
}

.logo h1 {
    margin-bottom: 2.5rem;
}

.form-data form input {
    padding: 0.8rem;
    margin-bottom: 0.5rem;
    border: 2px solid #eee;
    border-radius: 0.4rem;
}

.name {
    display: flex;
}

// .appointment-btn {
//     background: $color-white;
//     color: $color-black;
//     padding: 14px 20px;
//     text-decoration: none;
//     border-radius: 10px;
//     transition: .3s;
//     // border: 1px solid transparent;
//     border: 1px solid $color-black;
//     font-size: 14px;
//     font-weight: 500;
//     display: inline-block;
//     box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);

//     &:hover {
//         background: $color-black;
//         color: $color-white;
//         border: 1px solid $color-black;
//     }
// }

.has-separator {
    font-size: 0.75rem;
    color: #999999;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 2.5rem;
}

.has-separator::before,
.has-separator::after {
    content: "";
    position: absolute;
    background-color: #eee;
    width: 40%;
    height: 1.5px;
    top: 50%;
    transform: translateY(-50%);
}

.has-separator::before {
    left: 0;
}

.has-separator::after {
    right: 0;
}

.google-login {
    font-size: 1.4rem;
    font-weight: bold;
    color: #385185;
    margin-bottom: 2.5rem;
}

.google-login i {
    font-size: 2rem;
    margin-right: 0.7rem;
}

.password-reset {
    font-size: 1.2rem;
    color: $color-black;
}

.sign-up {
    text-align: center;
    font-size: 1.4rem;
    color: #262626;
    padding: 2rem 0;
    background-color: #fff;
    border: 2px solid #eee;
    margin: 1rem 0;
}

.sign-up {
    text-align: center;
    font-size: 1.4rem;
    color: #262626;
    padding: 2rem 0;
    background-color: #fff;
    border: 2px solid #eee;
    margin: 1rem 0;
}

.sign-up a {
    color: #3897f0;
    font-weight: bold;
}

.appointment-btn {
    background: $color-black;
    color: $color-white;
    // border: 1px solid transparent;
    font-size: 16px;
    font-weight: 500;

    &:hover {
        background: $color-white;
        color: $color-black;
        border: 1px solid $color-black;
    }
}

.forgotpassword-url {
    font-size: 13px;
    color: #999999;
    
    &:hover {
        font-size: 13px;
        color: #858585;
    }
}

.signup {
    font-size: 13px;
    text-align: center;
    color: $color-black
}

.signup-url { 
    color: #999999;

    &:hover {
        font-size: 13px;
        color: #858585;
    }
}

.go-back-btn {
    position: absolute;
    top: 25px;
    left: 35px;
    color: $color-black;
    font-size: 24px;
    text-decoration: none;
}

.image {
    width: 150px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 11;
    max-width: 800px;
    width: 100%;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
  
.checkbox-label {
    display: flex;
    justify-content: center;
    cursor: pointer;
}
  
.checkbox-input {
    margin-right: 0.5em;
}

.checkbox-text {
    display: block;
}

.error-message {
    color: #939393;
    font-size: 15px;
}

/*responsive styling*/
@media (max-width: 900px) {
    .form-data {
    margin: 0 auto;
    }

    #wrapper > .container {
        padding: 0;
    }
}

@media (max-width: 450px) {
    #wrapper {
        padding-top: 0;
    }
    .form-data form {
        background-color: transparent;
        border: none;
        padding: 0 2rem;
    }
    .sign-up {
        background-color: transparent;
        border: none;
        margin: 4rem 0;
    }
}

