#analyze-type {
    /* background-color: #f2f2f2; */
    /* padding: 20px; */
    border-radius: 8px;
    margin-top: 20px;
    text-align: relative;
    display: inline-block;
}

#output-field {
    /* background-color: #f2f2f2; */
    padding: 20px;
    border-radius: 8px;
    text-align: justify;
    display: inline-block;
}

#mp3-input {
    border-radius: 8px;
    display: block;
    padding: 5px;
    margin-bottom: 20px;
}

.dropdown {
    position: relative;
    text-align: justify;
    display: inline-block;
}

.options {
    position: absolute;
    
    list-style-type: none;
    margin: 5px 0;
    padding: 0;

    border: 1px solid grey;
    width: 150px;
}

.options > li {
    margin: 0;

    background-color: white;
}

.options > li:hover {
    background-color: lightgray;
}

.options > li > button {
    width: 100%;
    height: 100%;
    text-align: left;
    
    background: none;
    color: inherit;
    border: none;
    padding: 5px;
    margin: 0;
    font: inherit;
    cursor: pointer;
}

.item {
    min-width: 10rem;
    text-align: left;
}

.header-topic {
    font-weight: 500;
}

.body {
    white-space: pre-wrap;
}